<a href="https://colab.research.google.com/github/gjm5032/2025/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

조건문

In [ ]:
num = int(input("숫자를 입력하세요: "))
if num % 2 ==0:
  print("짝수입니다.")
else:
  print("홀수입니다.")

반복문

In [3]:
for i in range(1,10):
  print(f"2 x {i} = {2 * i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

리스트 + 반복

In [5]:
scores = [85, 90, 78, 92, 88]
total = 0
for score in scores:
    total += score

average = total / len(scores)
print("평균 점수:", average)

평균 점수: 86.6

함수

In [6]:
def max_of_three(a,b,c):
  if a>= b and a>= c:
    return a
  elif b >=c:
    return b
  else:
    return c

print(max_of_three(10,25,7))

25

조건 + 반복

In [7]:
for i in range(1,101):
  if i % 2 ==0:
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

1000까지 소수의 값 구하기

In [6]:
#처음 짠 코드
for i in range(2,1000):
  for j in range(2,i):
    if i % j == 0: #나누어 떨어지면 소수 아님
      break
  else: # 이 else는 for j in range(2, i): 와 연결되어 있음 , break 없이 루프가 정상 종료되면 소수 else: 실행
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [3]:
#for문을 while 문으로 바꾸기 while - else 방식

i = 2
while i < 100:
  j = 2
  while j < i:
    if i % j == 0:
      break
    j+=1
  else :
    print(i)
  i += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [2]:
#for문을 while 문으로 바꾸기 flag 방식
i = 2
while i < 100:
  j = 2
  prime = True
  while j < i:
    if i%j==0:
      prime = False
      break
    j += 1

  if prime:
    print(i)
  i += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97